# dependencias
/node_modules
/.pnp
.pnp.js

# next
/.next/
/out/
next-env.d.ts

# producción
/build

# entorno
.env
.env*.local

# prisma
/prisma/*.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# sistema
.DS_Store
Thumbs.db

# pruebas / cobertura
/coverage

# editor
.vscode/*
!.vscode/extensions.json
.idea

# datos exportados (CSV para Power BI, plan B)
/export
